
<h1>Add a task to $stylist.getName()</h1>

<form  action="/clients" method="post">
  <input type="hidden" name="stylistId" value="$stylist.getId()" id="stylistId">

  <div class="form-group">
    <label for="clientele">clientele</label>
    <input type="text" name="clientele" id="clientele" class="form-control">
  </div>

  <button type="submit" class="btn btn-success">Add A new Client!</button>
</form>
